{{ define "title" }}
{{ $tag     := .File.BaseFileName }}
{{ $project    := index (where site.Data.projects ".tag" $tag) 0 }}
{{ site.Title }} | {{ $project.name }}
{{ end }}

{{ define "main" }}
{{ $tag        := .File.BaseFileName }}
{{ $project    := index (where site.Data.projects ".tag" $tag) 0 }}
{{ $colors     := $project.colors }}
{{ $primary    := $colors.primary }}
{{ $secondary  := $colors.secondary }}
{{ $tertiary   := $colors.tertiary }}
{{ $quaternary := $colors.quaternary }}
{{ $types      := (slice "horizontal" "icon" "stacked") }}
{{ $colors     := (slice "color" "black" "white") }}

{{ $hc         := printf "img/%s/horizontal/color/%s-horizontal-color.png" $tag $tag | relURL }}
{{ $ic         := printf "img/%s/icon/color/%s-icon-color.png" $tag $tag | relURL }}
{{ $sc         := printf "img/%s/stacked/color/%s-stacked-color.png" $tag $tag | relURL }}
{{ $hb         := printf "img/%s/horizontal/black/%s-horizontal-black.png" $tag $tag | relURL }}
{{ $ib         := printf "img/%s/icon/black/%s-icon-black.png" $tag $tag | relURL }}
{{ $sb         := printf "img/%s/stacked/black/%s-stacked-black.png" $tag $tag | relURL }}
{{ $hw         := printf "img/%s/horizontal/white/%s-horizontal-white.png" $tag $tag | relURL }}
{{ $iw         := printf "img/%s/icon/white/%s-icon-white.png" $tag $tag | relURL }}
{{ $sw         := printf "img/%s/stacked/white/%s-stacked-white.png" $tag $tag | relURL }}

{{ partial "projects/hero.html" $project }}

<article class="article">
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="has-text-weight-light">
          Colors
        </h1>
  
        <hr />
  
        <div class="color-panels">
          {{ partial "color-panel-section.html" (dict "title" "Primary" "color" $primary) }}
  
          {{ with $secondary }}
          {{ partial "color-panel-section.html" (dict "title" "Secondary" "color" $secondary) }}
          {{ end }}
        </div>

        <br /><br />
  
        <h1 class="has-text-weight-light">
          Logos
        </h1>
  
        <hr />

        <div class="columns is-multiline">
          {{ range $types }}
          {{ $type := . }}
          {{ range $colors }}
          {{ $color := . }}
          {{ $img := printf "img/%s/%s/%s/%s-%s-%s.png" $tag $type $color $tag $type $color | relURL }}
          {{ $url := printf "https://raw.githubusercontent.com/cncf/artwork/master/%s/%s/%s/%s-%s-%s.png" $tag $type $color $tag $type $color | relURL }}
          {{ $isWhite := eq $color "white" }}
          <div class="column is-one-third logo-column">
            <h3 class="has-text-weight-light logo-column-title">
              {{ $type | humanize }} {{ $color }}
            </h3>

            <a href="{{ $url }}" download="{{ $url }}">
              <img class="logo {{ $type }} {{ $color }}" src="{{ $img }}">
            </a>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</article>
{{ end }}
