{{ define "title" }}
{{ $tag     := .File.BaseFileName }}
{{ $project    := index (where site.Data.projects ".tag" $tag) 0 }}
{{ site.Title }} | {{ $project.name }}
{{ end }}

{{ define "main" }}
{{ $tag        := .File.BaseFileName }}
{{ $project    := index (where site.Data.projects ".tag" $tag) 0 }}
{{ $colors     := $project.colors }}
{{ $primary    := $colors.primary }}
{{ $secondary  := $colors.secondary }}
{{ $tertiary   := $colors.tertiary }}
{{ $quaternary := $colors.quaternary }}
{{ $formats := (slice "png" "svg") }}
{{ $types      := (slice "horizontal" "icon" "stacked") }}
{{ $colors     := (slice "color" "black" "white") }}
{{ $reversed   := eq $project.reversed true }}

{{ $hc         := printf "img/%s/horizontal/color/%s-horizontal-color.png" $tag $tag | relURL }}
{{ $ic         := printf "img/%s/icon/color/%s-icon-color.png" $tag $tag | relURL }}
{{ $sc         := printf "img/%s/stacked/color/%s-stacked-color.png" $tag $tag | relURL }}
{{ $hb         := printf "img/%s/horizontal/black/%s-horizontal-black.png" $tag $tag | relURL }}
{{ $ib         := printf "img/%s/icon/black/%s-icon-black.png" $tag $tag | relURL }}
{{ $sb         := printf "img/%s/stacked/black/%s-stacked-black.png" $tag $tag | relURL }}
{{ $hw         := printf "img/%s/horizontal/white/%s-horizontal-white.png" $tag $tag | relURL }}
{{ $iw         := printf "img/%s/icon/white/%s-icon-white.png" $tag $tag | relURL }}
{{ $sw         := printf "img/%s/stacked/white/%s-stacked-white.png" $tag $tag | relURL }}

{{ partial "projects/hero.html" $project }}

<article class="article">
  <section class="section">
    <div class="container">
      <div class="content">
        <h1 class="has-text-weight-light">
          Colors
        </h1>
  
        <div class="color-panels">
          {{ partial "color-panel-section.html" (dict "title" "Primary" "color" $primary) }}
  
          {{ with $secondary }}
          {{ partial "color-panel-section.html" (dict "title" "Secondary" "color" $secondary) }}
          {{ end }}

          {{ with $tertiary }}
          {{ partial "color-panel-section.html" (dict "title" "Tertiary" "color" $tertiary) }}
          {{ end }}

          {{ with $quaternary }}
          {{ partial "color-panel-section.html" (dict "title" "Quaternary" "color" $quaternary) }}
          {{ end }}
        </div>

        <br /><br />
  
        <h1 class="has-text-weight-light">
          Logos
        </h1>

        <br />

        <div class="columns is-multiline">
          {{ range $types }}
          {{ $type := . }}
          {{ range $colors }}
          {{ $color := . }}
          {{ $img   := printf "img/projects/%s/%s/%s/%s-%s-%s.png" $tag $type $color $tag $type $color | relURL }}
          {{ $isWhite := eq $color "white" }}
          <div class="column is-one-third logo-column has-text-centered logo-panel">
            <h2 class="has-text-weight-light logo-column-title">
              {{ $type | humanize }} {{ $color }}
            </h2>

            <img class="logo {{ $type }} {{ $color }}" src="{{ $img }}">

            <br />

            <div class="buttons is-centered">
              {{ range $formats }}
              {{ $img    := printf "img/projects/%s/%s/%s/%s-%s-%s.%s" $tag $type $color $tag $type $color . | relURL }}
              <a class="button project-button has-text-weight-bold" href="{{ $img }}" style="color: #{{ $primary }}; background-color: white;" download>
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>
                  {{ . }}
                </span>
              </a>
              <a class="button project-button has-text-weight-bold" href="{{ $img }}" style="color: #{{ $primary }}; background-color: white;" target="_blank">
                <span class="icon">
                  <i class="fas fa-external-link-alt"></i>
                </span>
                <span>
                  {{ . }}
                </span>
              </a>
              {{ end }}
            </div>
          </div>
          {{ end }}
          {{ end }}

          {{ if $reversed }}
          {{ $types := (slice "horizontal" "icon" "stacked") }}
          {{ range $types }}
          {{ $type := . }}
          {{ $img    := printf "img/projects/%s/%s/color/%s-%s-color-reversed.png" $tag $type $tag $type | relURL }}
          <div class="column is-one-third logo-column has-text-centered logo-panel">
            <h2 class="has-text-weight-light logo-column-title">
              {{ $type | humanize }} color reversed
            </h2>

            <img class="logo {{ $type }} color" src="{{ $img }}">

            <div class="buttons is-centered">
              {{ range $formats }}
              {{ $img := printf "img/projects/%s/%s/color/%s-%s-color-reversed.%s" $tag $type $tag $type . | relURL }}
              <a class="button project-button has-text-weight-bold" href="{{ $img }}" style="color: #{{ $primary }}; background-color: white;" target="_blank">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>
                  {{ . }}
                </span>  
              </a>

              <a class="button project-button has-text-weight-bold" href="{{ $img }}" style="color: #{{ $primary }}; background-color: white;" download>
                <span class="icon">
                  <i class="fas fa-external-link-alt"></i>
                </span>
                <span>
                  {{ . }}
                </span>
              </a>
              {{ end }}
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</article>
{{ end }}
