{{- $fonts    := .Site.Params.fonts }}
{{- $fontSlice := (slice) }}
{{- range $fonts }}
{{- $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{- end }}
{{- $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{- $sansSerifFont := .Site.Params.sansSerifFont }}
{{- $monospaceFont := .Site.Params.monospaceFont }}
{{- $fontAwesomeVersion := .Site.Params.fontAwesomeVersion }}
{{- $fontAwesomeUrl     := printf "https://use.fontawesome.com/releases/v%s/css/all.css" $fontAwesomeVersion }}

@charset "utf-8"
@import url({{ $fontsUrl }})
@import url({{ $fontAwesomeUrl }})

// Project-specific colors and variables
$cncf-dark-blue: #426cab
$cncf-light-blue: #76c5d5
$twitter-blue: #1da1f2
$slack-green: #74cdb0

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overwrites
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-code: "{{ $monospaceFont }}", monospace
$primary: $cncf-dark-blue
$section-padding: 0 1.5rem
$navbar-dropdown-arrow: $cncf-light-blue

@import "bulma/sass/utilities/derived-variables"
@import "bulma/bulma"

=row
  display: flex
  flex-direction: row

.article
  padding-bottom: 5rem

.project-card
  +row
  border: 2px solid $grey-lighter
  padding: 1.2rem
  align-items: center

  .text
    margin-left: 2rem
    color: $dark

    .project-card-title
      line-height: 120%
      font-weight: 600

    .description
      font-size: 1rem
      margin-top: .5rem

.color-panels
  +row
  flex-wrap: nowrap
  overflow-x: scroll

  .color-panel-section
    & + .color-panel-section
      margin-left: 2rem
    
    .color-panel-title
      font-size: 1.25rem

    .color-panel
      height: 5rem
      width: 5rem

    .hex
      margin-top: .5rem
      font-size: .9rem
      font-weight: 700
      color: $dark

.logo-column
  padding-right: 5rem
  margin-bottom: 2rem

.logo
  margin-top: 1rem
  max-width: 20rem

  &.white
    background-color: $dark
    padding: .5rem

  &.icon
    width: 20%
    height: auto

  &.stacked
    max-width: 10rem
    height: auto
