{{ $description := .description | markdownify }}
{{ $btnColors   := (dict "graduated" "success" "incubating" "info" "sandbox" "warning") }}
{{ $status      := .status }}
{{ $btnColor    := index $btnColors $status }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-1 is-size-2-mobile has-text-weight-bold is-spaced">
        {{ .name }}

        <button class="button is-small is-rounded is-{{ $btnColor }} has-text-weight-bold">
          {{ $status }}
        </button>
      </p>

      {{ with $description }}
      <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-light">
        {{ . }}
      </p>
      {{ end }}

      <a class="subtitle is-size-5 is-size-6-mobile has-text-grey" href="{{ .site }}" target="_blank">
        {{ .site }}
      </a>
    </div>
  </div>
</section>
