{{ $favicon := "favicon.png" | relURL }}
<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}
      {{ site.Title }}
      {{ end }}
    </title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.1.2/dist/alpine.js" defer></script>
  </head>
  <body class="flex flex-col min-h-screen font-sans antialiased text-gray-800 bg-gray-100">
    <div class="flex-grow">
      {{ partial "navbar.html" . }}

      <main class="pt-16">
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
