{{ $title := site.Title }}
{{ $home  := site.BaseURL }}
{{ $alt   := printf "%s navbar logo" $title }}
{{ $logo  := "/img/other/cncf/horizontal/white/cncf-white.png" }}
{{ $icon  := "/img/other/cncf/icon/color/cncf-icon-color.png" }}
{{ $menu  := site.Menus.main }}
<nav class="fixed w-screen bg-gray-800 shadow" x-data="{ open: false, toggle() { this.open = !this.open; } }" @keydown.window.escape="open = false">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center lg:justify-end">
          <a href="{{ $home }}">
            <img class="h-8 w-auto" src="{{ $logo }}" alt="{{ $alt }}" />
          </a>
        </div>
      </div>

      <div class="flex">
        <div class="hidden sm:ml-6 sm:flex">
          {{ range $menu }}
          {{ $isExternal := hasPrefix .URL "http" }}
          <a href="{{ .URL }}" class="inline-flex items-center text-gray-100 pl-5 pt-1 text-base font-medium leading-5 focus:outline-none transition duration-150 ease-in-out"{{ if $isExternal }} target="_blank"{{ end }}>
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
      
      <div class="-mr-2 flex items-center sm:hidden">
        <button @click="toggle()" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
          <i class="fas" :class="{ 'fa-times': open, 'fa-bars': !open }"></i>
        </button>
      </div>
    </div>
  </div>
  <div :class="{ 'block': open, 'hidden': !open }" class="hidden bg-white">
    <div class="pt-2 pb-3">
      {{ range $menu }}
      {{ $isExternal := hasPrefix .URL "http" }}
      <a href="{{ .URL }}" class="block pl-3 pr-4 py-2 text-base font-medium transition duration-150 ease-in-out"{{ if $isExternal }} target="_blank"{{ end }}>
        {{ .Name }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>
