{{ $icon := "img/other/cncf/icon/color/cncf-icon-color.png" | relURL }}
<a href="/cncf">
  <div class="project-card">
    <div class="image is-64x64">
      <img src="{{ $icon }}">
    </div>

    <div class="text">
      <p class="project-card-title is-size-4">
        Cloud Native Computing Foundation
      </p>

      <p class="description has-text-grey">
        Sustaining and integrating open source technologies to orchestrate containers as part of a microservices architecture
      </p>
    </div>
  </div>
</a>
