{{ $icon := "img/other/cncf/icon/color/cncf-icon-color.png" | relURL }}
<a href="/cncf">
  <div class="project-card">
    <div class="left">
      <img class="logo" src="{{ $icon }}">
    </div>

    <div class="right">
      <div class="text">
        <p class="project-card-title">
          Cloud Native Computing Foundation
        </p>
  
        <p class="project-card-description">
          Sustaining and integrating open source technologies to orchestrate containers as part of a microservices architecture
        </p>
      </div>
    </div>
  </div>
</a>
