{{ $projects   := site.Data.projects }}
{{ $groups     := (slice "Graduated" "Incubating" "Sandbox" "Archived") }}
{{ $widths     := (dict "graduated" "one-third" "incubating" "one-quarter" "sandbox" "one-quarter" "archived" "one-quarter") }}
<article class="article">
  <section class="section">
    <div class="container">
      <div class="project-group">
        <div class="columns">
          <div class="column is-half">
            {{ partial "home/cncf-project-card" . }}
          </div>
        </div>
      </div>

      {{ range $groups }}
      {{ $key             := . | lower }}
      {{ $panelWidth      := index $widths $key }}
      {{ $projectsInGroup := where $projects ".status" $key }}
      <div class="project-group">
        <p class="title is-size-3 is-size-4-mobile has-text-weight-light">
          {{ . }} projects
        </p>

        <div class="columns is-multiline">
          {{ range sort $projectsInGroup "weight" }}
          <div class="column is-{{ $panelWidth }}">
            {{ partial "home/project-card.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>
</article>

