{{ $allProjects := site.Data.projects }}
{{ $groups      := (slice "Graduated" "Incubating" "Sandbox" "Archived") }}
{{ $numGroups   := len $groups }}
<div class="max-w-screen-xl mx-auto pt-12 pb-20 lg:my-2 px-4">
  {{ range $idx, $group := $groups }}
  {{ $key := $group | lower }}
  {{ $projects := where $allProjects ".status" $key }}
  {{ $notLast  := ne $idx (sub $numGroups 1) }}
  <div class="{{ if $notLast }} mb-10{{ end }}">
    <p class="mb-4 text-xl md:text-2xl lg:text-3xl font-semibold">
      {{ $group }}
    </p>
    
    <div class="grid grid-cols-2 gap-4 md:gap-5 lg:gap-6 md:grid-cols-3 lg:grid-cols-4">
      {{ range $projects }}
      {{ $logo := printf "img/projects/%s/icon/color/%s-icon-color.svg" .tag .tag | relURL }}
      {{ $url  := printf "projects/%s" .tag | relURL }}
      <a href="{{ $url }}">
        <div class="bg-white p-4 md:p-5 lg:p-6 shadow">
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <div class="flex flex-col">
              <img class="h-12 md:h-14 lg:h-16" src="{{ $logo }}" alt="{{ .name }} project logo" />
  
              <p class="mx-auto lg:text-2xl leading-none text-gray-700 font-bold mt-2 md:mt-3 lg:mt-4">
                {{ .name }}
              </p>

              <p class="mx-auto mt-4">
                {{ .description }}
              </p>
            </div>
          </div>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

